:root {
  --flex-gap: 15px;
  --flex-quantity: 4;
}

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
}

img {
  display: block;
  object-fit: cover;
}

.form-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07f;
  z-index: 10;
  height: 70px;
  border-radius: 4px;
}
.search-form {
  display: flex;
  height: 30px;
}
.input {
  font-size: 18;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.gallery {
  display: flex;
  gap: var(--flex-gap);
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
}

.photo-card {
  flex-basis: calc(
    (100% - (var(--flex-quantity) - 1) * var(--flex-gap)) / var(--flex-quantity)
  );
  transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0 0 4px 4px;
}
.photo-card:hover,
.photo-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  scale: 1.05;
}

.contain {
  height: 220px;
}

.info {
  display: flex;
  border: 1px solid #c4c4c4;
  border-top: none;
  padding: 5 0;
}

.info-item {
  text-align: center;
  margin: 0;
}

.load-more {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 30px;
  margin-bottom: 18px;
}

.hidden {
  visibility: hidden;
}
